<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="./css/normalize.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="./css/styles.css" />
	</head>

	<body>
		<header class="header">
			<a href="index.html">
				<img class="header__logo" src="./img/logo.png" alt="Logotipo" />
			</a>
		</header>

		<nav class="navegacion">
			<a class="navegacion__enlace" href="index.html">Tienda</a>
			<a class="navegacion__enlace navegacion__enlace--activo" href="nosotros.html"
				>Nosotros</a
			>
		</nav>

		<main class="contenedor">
			<h1>SOBRE NOSOTROS</h1>

			<div class="nosotros">
				<div class="nosotros__contenido">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus voluptas eos
						fugiat eveniet optio fuga voluptatem adipisci officiis dolorem, voluptatibus
						quia impedit ipsum cumque perferendis tempora quam iste! Reiciendis aut
						maiores eius, ipsam rerum molestiae natus voluptate iste et aperiam
						distinctio nesciunt doloremque sint eum quisquam optio, harum iure corrupti
						quia unde autem culpa atque.
					</p>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo incidunt,
						fugiat quam laudantium ad officiis quisquam odit fugit veritatis est enim
						architecto hic beatae voluptatem possimus at? Alias, distinctio a.
					</p>
				</div>
				<img class="nosotros__imagen" src="./img/nosotros.jpg" alt="imagen nosotros" />
			</div>

			
		</main>

		<section class="contenedor comprar">
			<h2 class="comprar__titulo">PORQU&Eacute; COMPRAR CON NOSOTROS</h2>

			<div class="bloques">
				<div class="bloque">
					<img class="bloque__imagen" src="./img/icono_1.png" alt="porque comprar" />
					<h3 class="bloque__titulo">El mejor precio</h3>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, vitae.
					</p>
				</div> <!-- .bloque -->

				<div class="bloque">
					<img class="bloque__imagen" src="./img/icono_2.png" alt="porque comprar" />
					<h3 class="bloque__titulo">Para Devs</h3>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, vitae.
					</p>
				</div> <!-- .bloque -->

				<div class="bloque">
					<img class="bloque__imagen" src="./img/icono_3.png" alt="porque comprar" />
					<h3 class="bloque__titulo">Env&iacute;o Gratis</h3>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, vitae.
					</p>
				</div> <!-- .bloque -->

				<div class="bloque">
					<img class="bloque__imagen" src="./img/icono_4.png" alt="porque comprar" />
					<h3 class="bloque__titulo">La Mejor Calidad</h3>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, vitae.
					</p>
				</div> <!-- .bloque -->
			</div>
			
		</section>

		<footer class="footer">
			<p class="footer__texto">Front End Store - Todos los derechos Reservados 2022.</p>
		</footer>
	</body>
</html>
