<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>SGAH</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css" />
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css"
		/>
		<link rel="stylesheet" href="css/estilos.css" />
		<link rel="stylesheet" href="forms/css/estilos-form.css" />
	</head>
	<body>
		<div class="grupo-puntos m-b-100">
			<div class="fila-puntos">
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
			</div>
			<div class="fila-puntos">
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
			</div>
			<div class="fila-puntos">
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
			</div>
			<div class="fila-puntos">
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
			</div>
			<div class="fila-puntos">
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
			</div>
			<div class="fila-puntos">
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
			</div>
			<div class="fila-puntos">
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
			</div>
			<div class="fila-puntos">
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
			</div>
		</div>

		<div class="contenedor">
			<header>
				<div class="contenedor-interno">
					<div class="cabecera">
						<h1>SGAH</h1>
						<nav class="menu">
							<a href="#">Categorias</a>
							<a href="#">Lista de Gastos</a>
							<a href="#">Lista Prestamos</a>
							<a href="#">
								<i class="bi bi-box-arrow-in-right"></i>
							</a>
						</nav>
					</div>
				</div>
			</header>

			<section class="main">
				<section class="categoria-fecha">
					<div class="contenedor-interno">
						<div class="contenedor-categoria-fecha">
							<div>
								<select class="categoria" name="categoria" id="categoria">
									<option value="">Seleccione una opci&oacute;n</option>
								</select>
							</div>
							<div class="fecha">
								<p>21 de noviembre del 2021</p>
							</div>
						</div>
					</div>
				</section>

				<section class="descripcion">
					<div class="contenedor-interno">
						<h1>Descripci&oacute;n</h1>
						<hr size="2px" color="#ccc" />
					</div>
				</section>

				<section class="total">
					<div class="contenedor-interno">
						<p>$0.00</p>
						<hr size="2px" color="#ccc" />
					</div>
				</section>

				<section class="btn-opciones">
					<div class="contenedor-interno">
						<nav>
							<button id="addAHorro">
								Agregar Gasto
								<i class="bi bi-plus-circle"></i>
							</button>
							<button>
								Agregar Ahorro
								<i class="bi bi-plus-circle"></i>
							</button>
							<button href="">
								Agregar Pr&eacute;stamo
								<i class="bi bi-plus-circle"></i>
							</button>
						</nav>
					</div>
				</section>

				<section class="gastos-mes">
					<div class="contenedor-gastos-mes">
						<h3>Total gastado en el mes:</h3>
						<h3>$0.00</h3>
					</div>
				</section>
			</section>
		</div>

		<div class="grupo-puntos alineacion-derecha m-t-100">
			<div class="fila-puntos">
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
			</div>
			<div class="fila-puntos">
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
			</div>
			<div class="fila-puntos">
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
			</div>
			<div class="fila-puntos">
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
			</div>
			<div class="fila-puntos">
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
			</div>
			<div class="fila-puntos">
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
			</div>
			<div class="fila-puntos">
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
			</div>
			<div class="fila-puntos">
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
				<div class="circulo"></div>
			</div>
		</div>

		<!-- Seccion de pruebas para los formularios -->
		<section class="overlay" id="overlay-ahorro">
			<div class="contenedor__formulario popup" id="popup-ahorro">
				<button class="btn-cerrar-popup" id="btn-cerrar-popup-ahorro">
					<i class="fas fa-times"></i>
				</button>
				<h1>Agregar Ahorro</h1>
				<form action="" class="formulario">
					<!-- Grupo asignacion -->
					<div class="formulario__grupo">
						<label class="formulario__label" for="asignacion">Asignacion</label>
						<select class="formulario__select" name="asignacion" id="asignacion">
							<option value="">Seleccione una opci&oacute;n</option>
							<option value="keep">Keep</option>
							<option value="free">Free</option>
						</select>
					</div>

					<div class="formulario__grupo">
						<label class="formulario__label" for="monto">Monto</label>
						<input
							type="number"
							class="formulario__input"
							name="monto"
							id="monto"
							placeholder="0.0"
							min="0"
							step="0.01"
							autocomplete="off"
						/>
					</div>

					<div class="formulario__grupo-descripcion">
						<label class="formulario__label" for="descripcion">Descripcion</label>
						<textarea
							class="formulario__textarea"
							name="descripcion"
							id="descripcion"
							cols="30"
							rows="10"
						></textarea>
					</div>

					<div class="formulario__grupo-btn-enviar">
						<button type="submit" class="formulario__btn-enviar">Enviar</button>
					</div>
				</form>
			</div>
		</section>

		<footer>
			<div class="pie-pagina">
				<h1>Copyrigth Juan Pastelin 2021</h1>
			</div>
		</footer>

		<script src="https://kit.fontawesome.com/f346ed96e5.js" crossorigin="anonymous"></script>
		<script src="js/popup.js"></script>
	</body>
</html>
