<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200&family=Zen+Kurenaido&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="css/estilos.css" />
		<title>Cafe</title>
	</head>
	<body>
		<header>
			<div class="contenedor">
				<nav class="menu">
					<a href="#" id="btn-acerca-de">Acerca de</a>
					<a href="#" id="btn-menu">Menú</a>
					<a href="#" id="btn-galeria">Galería</a>
					<a href="#" id="btn-ubicacion">Ubicación</a>
				</nav>

				<div class="textos">
					<h1 class="nombre">Cafe <span>FalconMasters</span></h1>
					<h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</h3>
				</div>
			</div>
		</header>

		<section class="main">
			<section class="acerca-de" id="acerca-de">
				<div class="contenedor">
					<div class="foto">
						<img src="img/acerca-de.jpg" alt="" />
					</div>
					<article>
						<h3>Acerca de</h3>
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum sed,
							facere accusantium ea illum vitae libero ratione inventore veritatis
							aut.
						</p>

						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt
							tenetur consequatur ullam eveniet voluptatem illum, quisquam repudiandae
							amet velit eius unde cupiditate nostrum. Veritatis corporis, voluptas
							consectetur asperiores non earum!
						</p>
					</article>
				</div>
			</section>

			<section class="menu">
				<div class="contenedor" id="platillos">
					<h3 class="titulo" id="titulo">Menu</h3>
					<div class="contenedor-menu">
						<div class="contenedor-menu2">
							<article>
								<p class="categoria">De Comer</p>
								<div class="platillo">
									<p class="nombre">Lorem, ipsum dolor.</p>
									<p class="precio">$15</p>
									<p class="descripcion">
										Lorem ipsum dolor sit amet consectetur adipisicing elit.
										Culpa.
									</p>
								</div>
								<div class="platillo">
									<p class="nombre">Lorem, ipsum dolor.</p>
									<p class="precio">$10</p>
									<p class="descripcion">
										Lorem ipsum dolor sit amet consectetur adipisicing elit.
										Culpa.
									</p>
								</div>
								<div class="platillo">
									<p class="nombre">Lorem, ipsum dolor.</p>
									<p class="precio">$20</p>
									<p class="descripcion">
										Lorem ipsum dolor sit amet consectetur adipisicing elit.
										Culpa.
									</p>
								</div>
								<div class="platillo">
									<p class="nombre">Lorem, ipsum dolor.</p>
									<p class="precio">$5</p>
									<p class="descripcion">
										Lorem ipsum dolor sit amet consectetur adipisicing elit.
										Culpa.
									</p>
								</div>
							</article>

							<article>
								<p class="categoria">De Tomar</p>
								<div class="platillo">
									<p class="nombre">Lorem, ipsum dolor.</p>
									<p class="precio">$15</p>
									<p class="descripcion">
										Lorem ipsum dolor sit amet consectetur adipisicing elit.
										Culpa.
									</p>
								</div>
								<div class="platillo">
									<p class="nombre">Lorem, ipsum dolor.</p>
									<p class="precio">$10</p>
									<p class="descripcion">
										Lorem ipsum dolor sit amet consectetur adipisicing elit.
										Culpa.
									</p>
								</div>
								<div class="platillo">
									<p class="nombre">Lorem, ipsum dolor.</p>
									<p class="precio">$20</p>
									<p class="descripcion">
										Lorem ipsum dolor sit amet consectetur adipisicing elit.
										Culpa.
									</p>
								</div>
								<div class="platillo">
									<p class="nombre">Lorem, ipsum dolor.</p>
									<p class="precio">$5</p>
									<p class="descripcion">
										Lorem ipsum dolor sit amet consectetur adipisicing elit.
										Culpa.
									</p>
								</div>
							</article>
						</div>
					</div>
				</div>
			</section>

			<section class="galeria" id="galeria">
				<div class="foto">
					<img src="img/1.jpg" alt="" />
				</div>
				<div class="foto">
					<img src="img/2.jpg" alt="" />
				</div>
				<div class="foto">
					<img src="img/3.jpg" alt="" />
				</div>
				<div class="foto">
					<img src="img/4.jpg" alt="" />
				</div>
				<div class="foto">
					<img src="img/5.jpg" alt="" />
				</div>
				<div class="foto">
					<img src="img/6.jpg" alt="" />
				</div>
				<div class="foto">
					<img src="img/7.jpg" alt="" />
				</div>
				<div class="foto">
					<img src="img/8.jpg" alt="" />
				</div>
			</section>

			<section class="ubicacion" id="ubicacion">
				<div class="contenedor">
					<h3 class="titulo">Ubicacion</h3>
					<div class="direccion">
						<p clase="calle">
							123 Av Pinos <br />
							CA 92807
						</p>
						<p class="telefono">(+42) 123456789</p>
						<p class="corre">correo [arroba] tucorreo.com</p>
					</div>

					<div class="horarios">
						<h4>Horarios</h4>
						<p class="entre-semana">
							Lunes a Viernes <br />
							8:00am - 9:00pm
						</p>
						<p class="fin-semana">
							Sabado y Domingo <br />
							11:00am - 11:00pm
						</p>
					</div>
				</div>
			</section>

			<section class="mapa">
				<iframe
					src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15050.2595542814!2d-99.20470967460211!3d19.431197075741593!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d202036d4843f9%3A0xe4d37732c0d3a976!2sPolanco%2C%20Polanco%20I%20Secc%2C%20Ciudad%20de%20M%C3%A9xico%2C%20CDMX!5e0!3m2!1ses-419!2smx!4v1637010352336!5m2!1ses-419!2smx"
					width="1600"
					height="550"
					style="border: 0"
					allowfullscreen=""
					loading="lazy"
				></iframe>
			</section>
		</section>

		<footer>
			<div class="contenedor">
				<div class="copyright">
					<p>Copyright Juan Pastelin @ 2021</p>
				</div>
			</div>
		</footer>

		<script src="./js/jquery.min.js"></script>
		<script src="./js/efectos.js"></script>
		<script src="./js/paralax.js"></script>
	</body>
</html>
