<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Pagina de Startup</title>
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/font-awesome.min.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&family=Open+Sans:wght@300;400;600;700&family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/estilos.css" />
	</head>
	<body>
		<header>
			<div class="container">
				<div class="row contenedor_logo_menu">
					<div class="logo col-12 col-md-6">
						<a href="#"><img src="./img/logo.png" alt="" /></a>
					</div>
					<div class="menu col col-md-6">
						<a href="#">Inicio</a>
						<a href="#">Precio</a>
						<a href="#">Contacto</a>
					</div>
				</div>

				<div class="row textos">
					<div class="col-md-12 w-200">
						<h2 class="primera_linea">Lorem ipsum dolor sit amet consectetur.</h2>
						<h3 class="segunda_linea">Lorem, ipsum dolor.</h3>
						<div class="contenedor-btns">
							<a href="#">Características</a>
							<a href="#">Comprar Ahora</a>
						</div>
					</div>
				</div>
			</div>
		</header>

		<section class="main">
			<section class="caracteristicas">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h3 class="titulo">Características</h3>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-4 caracteristica">
							<img class="icono" src="./img/icono1.png" alt="" />
							<h4 class="primera_linea">Lorem, ipsum.</h4>
							<p class="parrafo">
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias,
								veniam.
							</p>
						</div>

						<div class="col-sm-4 caracteristica">
							<img class="icono" src="./img/icono2.png" alt="" />
							<h4 class="primera_linea">Lorem, ipsum.</h4>
							<p class="parrafo">
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias,
								veniam.
							</p>
						</div>

						<div class="col-sm-4 caracteristica">
							<img class="icono" src="./img/icono3.png" alt="" />
							<h4 class="primera_linea">Lorem, ipsum.</h4>
							<p class="parrafo">
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias,
								veniam.
							</p>
						</div>
					</div>
				</div>
			</section>

			<section class="fotos">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="row foto">
								<div class="col-4 thumb">
									<img src="./img/thumb1.jpg" alt="" />
								</div>
								<div class="col-8 texto">
									<h2 class="titulo azul">
										Lorem ipsum dolor sit amet consectetur.
									</h2>
									<p class="parrafo">
										Lorem ipsum dolor sit amet consectetur adipisicing elit.
										Totam, quae accusamus. Autem amet facilis nulla architecto,
										delectus molestiae perferendis quaerat?
									</p>
								</div>
							</div>

							<div class="row foto">
								<div class="col-8 texto">
									<h2 class="titulo naranja derecha">
										Lorem ipsum dolor sit amet consectetur.
									</h2>
									<p class="parrafo">
										Lorem ipsum dolor sit amet consectetur adipisicing elit.
										Totam, quae accusamus. Autem amet facilis nulla architecto,
										delectus molestiae perferendis quaerat?
									</p>
								</div>
								<div class="col-4 thumb">
									<img src="./img/thumb2.jpg" alt="" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="clientes">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h3 class="titulo">Nuestros Clientes</h3>
						</div>
					</div>

					<div class="row">
						<div class="cliente col-6 col-md-3">
							<a href="#"><img src="./img/cliente1.png" alt="" /></a>
						</div>

						<div class="cliente col-6 col-md-3">
							<a href="#"><img src="./img/cliente2.png" alt="" /></a>
						</div>

						<div class="cliente col-6 col-md-3">
							<a href="#"><img src="./img/cliente3.png" alt="" /></a>
						</div>

						<div class="cliente col-6 col-md-3">
							<a href="#"><img src="./img/cliente4.png" alt="" /></a>
						</div>
					</div>
				</div>
			</section>

			<section class="precios">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h3 class="titulo">Precios</h3>
						</div>
					</div>

					<div class="row">
						<div class="precio col-sm-4">
							<div class="plan verde">
								<p class="nombre">Basico</p>
								<p class="precio">$9</p>
								<ul class="caracteristicas">
									<li>1 Cuenta</li>
									<li>10 GB de espacio</li>
									<li>Dominio Personal</li>
								</ul>
								<a href="#" class="btn">Contratar Ahora</a>
							</div>
						</div>
						<div class="precio col-sm-4">
							<div class="plan active">
								<p class="nombre">Standart</p>
								<p class="precio">$19</p>
								<ul class="caracteristicas">
									<li>5 Cuenta</li>
									<li>50 GB de espacio</li>
									<li>Dominio Personal</li>
								</ul>
								<a href="#" class="btn">Contratar Ahora</a>
							</div>
						</div>

						<div class="precio col-sm-4">
							<div class="plan naranja">
								<p class="nombre">Premium</p>
								<p class="precio">$99</p>
								<ul class="caracteristicas">
									<li>Cuentas Ilimitadas</li>
									<li>500 GB de espacio</li>
									<li>Dominio Ilimitados</li>
								</ul>
								<a href="#" class="btn">Contratar Ahora</a>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="reviews">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h3>Lo que nuestros clientes dicen:</h3>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12 cliente">
							<div class="foto">
								<img src="./img/foto1.jpg" alt="" />
							</div>
							<div class="review">
								<p class="texto">
									"Lorem ipsum dolor sit amet consectetur adipisicing elit."
								</p>
								<p class="nombre">- Carlos Arturo</p>
							</div>
						</div>

						<div class="col-md-12 cliente derecha">
							<div class="foto">
								<img src="./img/foto2.jpg" alt="" />
							</div>
							<div class="review">
								<p class="texto">
									"Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro,
									similique sed. Hic rem harum aperiam adipisci dolorem minima
									voluptatum quidem?"
								</p>
								<p class="nombre">- Carlos Arturo</p>
							</div>
						</div>
					</div>
				</div>
			</section>
		</section>

		<footer>
			<div class="direccion">
				<div class="container">
					<div class="row">
						<div class="col-md-8">
							<h4 class="titulo-">Contacto</h4>
							<p class="calle">Lorem ipsum dolor sit.</p>
							<p class="correo">correo [arroba] correo.com</p>
						</div>
						<div class="col-md-4 logo">
							<img src="./img/logo.png" alt="">
						</div>
					</div>
				</div>
			</div>

			<div class="social">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<a href="#" class="facebbok"><i class="fa fa-facebook"></i></a>
							<a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
							<a href="#" class="youtube"><i class="fa fa-youtube"></i></a>
						</div>
					</div>
				</div>
			</div>
		</footer>

		<script></script>
	</body>
</html>
