<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css" />
		<title>Document</title>
		<link
			href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="css/estilos-form.css" />
	</head>
	<body>
		<section class="overlay" id="overlay-ahorro">
			<div class="contenedor__formulario popup" id="popup-ahorro">
				<a href="#" class="btn-cerrar-popup" id="btn-cerrar-popup-ahorro">
					<i class="fas fa-times"></i>
				</a>
				<h1>Agregar Ahorro</h1>
				<form action="" class="formulario">
					<!-- Grupo asignacion -->
					<div class="formulario__grupo">
						<label class="formulario__label" for="asignacion">Asignacion</label>
						<select class="formulario__select" name="asignacion" id="asignacion">
							<option value="">Seleccione una opci&oacute;n</option>
							<option value="keep">Keep</option>
							<option value="free">Free</option>
						</select>
					</div>

					<div class="formulario__grupo">
						<label class="formulario__label" for="monto">Monto</label>
						<input
							type="number"
							class="formulario__input"
							name="monto"
							id="monto"
							placeholder="0.0"
							min="0"
							step="0.01"
							autocomplete="off"
						/>
					</div>

					<div class="formulario__grupo-descripcion">
						<label class="formulario__label" for="descripcion">Descripcion</label>
						<textarea
							class="formulario__textarea"
							name="descripcion"
							id="descripcion"
							cols="30"
							rows="10"
						></textarea>
					</div>

					<div class="formulario__grupo-btn-enviar">
						<button type="submit" class="formulario__btn-enviar">Enviar</button>
					</div>
				</form>
			</div>
		</section>

		<script src="https://kit.fontawesome.com/f346ed96e5.js" crossorigin="anonymous"></script>
	</body>
</html>
